.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 150px;
  margin-bottom: 20px;
}

.inviteBtn {
  background-color: #cc95f4 !important;
  border-color: #cc95f4 !important;
}
