.header {
  background-color: rgba(240, 248, 255, 0);
  position: absolute;
  padding-top: 10px;
}

.logo {
  width: 130px;
  margin-left: 40px;
}

@media (max-width: 768px) {
  .logo {
    margin: auto;
  }

  .header {
    width: 100%;
  }
}
